div.about {
  aside {
    margin-bottom : 2.25em;
    @include media($large-screen) {
      @include span-columns(6);
      float: right;

      img {
        @include fill-parent;
      }
    }
  }
  .content {
    @include media($large-screen) {
      @include span-columns(6);
      float: left;
      padding-right: 3.375em;
    }
  }
}
