div.about {
  aside {
    @include media($desktop) {
      @include span-columns(6);
      float: right;
    }
  }
  .content {
    @include media($desktop) {
      @include span-columns(6);
      float: left;
      padding-right: 3.375em;
    }
  }
}
