div.contact {
  aside {
    @include media($large-screen) {
      @include span-columns(6);
      float: right;
    }
    margin-bottom: 2.25em;
  }

  .contactform {
    @include media($large-screen) {
      @include span-columns(6);
      padding-right: 3.375em;
    }
  }
}
