.banner {
  background-image: url("../images/volkshuis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include fill-parent;
  @include media($desktop) {
    height: 475px;
  }
  @include media($mobile) {
    height: 275px;
    padding-top: 2.25em;
  }
  @include media($desktop) {
    @include clearfix;
    padding-top: 7.594em;
    margin-bottom: 2.25em;
  }
  h1 {
    text-align: center;
    @include media($desktop) {
      font-size: 3.375em;
    }
    color: #ffffff;
  }
  p.tagline {
    color: #ffffff;
    @include media($desktop) {
      font-size: 1.3em;
    }
    text-align: center;
  }
}

.content {
  @include media($mobile) {
    margin-top: 2.25em;
  }
  section {
    @include media($desktop) {
      @include span-columns(4 of 12);
      margin-bottom: 3.375em;
    }
    h2 {
      text-align: center;
    }
    p.more {
      text-align: right;
    }
  }
}

section.events {
  li {
    margin-bottom: 2.25em;
    a {
      text-decoration: underline;
    }
  }

}
