div.linkspage {
  @include media($desktop) {
    @include span-columns(12);
  }
  .content {
    @include media($desktop) {
      @include span-columns(6 of 12);
      float: left;
      padding-right: 3.375em;
    }
  } 
  aside {
    @include media($desktop) {
      @include span-columns(6 of 12);
      float: right;
    }
  }
}


div.sub {
  margin-bottom: 3.375em;
}
ul.links {
  list-style-type: disc;
  li {
    margin-bottom: 1.5em;
  }

  a {
    text-decoration: underline;
  }
}
