div.projects, div.project {
  margin-bottom: 3.365em;
  @include span-columns(12);
}

div.project {
  aside {
    @include span-columns(4 of 12);
    @include omega;
    float: right;
    margin-top: 7.594em;
    img {
      margin-bottom: 2.25em;
    }
  }
  .content {
    @include span-columns(8 of 12);
    padding-right: 3.375em;
    ul {
      list-style-type: disc;
      list-style-position: inside;
      li {
        margin-bottom: 1.5em;
      }
      &.output {
        li {
          margin-bottom: 2.25em;
        }
      }
    }
  }

  div.sub {
    margin-bottom: 3.365em;
  }
}
ul.countries {
  li {
    display: inline;
    margin-right: 1em;
  }
}

div.projects {
  div.content {
    margin-top: 5.063em;
  }
}

div.project_country {
  margin-bottom: 3.375em;
  li {
    line-height: 2.25em;
  }

  aside {
    float: right;
  }
}
