div.projects, div.project {
  margin-bottom: 3.365em;
  @include span-columns(12);
}

ul.countries {
  li {
    display: inline;
    margin-right: 1em;
  }
}

div.projects {
  div.content {
    margin-top: 5.063em;
  }
}

div.project_country {
  margin-bottom: 3.375em;
  li {
    line-height: 2.25em;
  }

  aside {
    float: right;
  }
}
