div.projects, div.project {
  margin-bottom: 3.365em;
  @include span-columns(12);
}

ul.countries {
  li {
    display: inline;
    margin-right: 1em;
  }
}

div.projects {
  aside {
    @include media($desktop) {
      @include span-columns(5);
      float: right;
    }
  }
  div.content {
    @include media($desktop) {
      @include span-columns(7);
      margin-top: 2.25em;
      padding-right: 2.25em;
    }
  }
}

div.project_country {

  margin-bottom: 3.375em;
  li {
    @include media($mobile) {
      margin-bottom: 2.25em;
    }
    @include media($desktop) {
      margin-bottom: 1.5em;
    }
    line-height: 2.25em;
  }

  aside {
    float: right;
  }
}
