---
title: About
description: "Cinema City Cultures is a network of collaborative research projects examining the interconnection between cinema, modernity and urbanity"
---

<div class="about">
  <header class="pageheader">
    <h1>About Cinema City Cultures</h1>
  </header>
  <aside>
    <figure>
      <%= image_tag "vooruit.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <p>Cinema City Cultures is a network of collaborative research projects examining and questioning the interconnection between cinema, modernity and urbanity – one of the key topics within film, cinema and visual studies.</p>
    <p>Cinema City Cultures brings together scholars who deal with this topic by using empirical research on urban cinematic practices and experiences. Inspired by a new cinema history approach, projects within the Cinema City Cultures network concentrate on cinematic place and space, programming and audience’s experiences.</p>
    <p>Bringing together projects from different countries and continents, the network fosters inter- and multidisciplinarity, international collaborative and comparative research, as well as the use of new digital research approaches. Cinema City Cultures is an initiative by <a href="http://www.cims.ugent.be/members/daniel-biltereyst">Daniel Biltereyst</a> and <a href="https://www.uantwerpen.be/nl/personeel/philippe-meers">Philippe Meers</a>.</p>
  </div><!-- end content div -->
</div><!-- end about div -->
