---
title:  Antwerp Cinema City. A media-historical investigation into changes in film exhibition and experiences of cinemagoing- Output
---

<div class="project">
  <aside>
    <%= image_tag 'savoy-affiche-quinn.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Antwerp Cinema City - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Lotze, K. &amp; Ph. Meers (2013) Cinema going in Antwerp 1945-1995, pp. 210-213 in J. Szaniawski &amp; M. Block (eds.) Directory of World Cinema: Belgium. Bristol, Intellect.</li>
      <li>Lotze, K. &amp; Ph. Meers (2013) "They don't need me in heaven... there are no cinemas there, ye know" – Cinema culture in Antwerp (Belgium) and the empire of Georges Heylen (1945-1975), pp. 223-244 in Moran, A. &amp; K. Aveyard (Eds.) Watching Films: New Perspectives on Movie-Going, Exhibition and Reception. Intellect.</li>
      <li>Biltereyst, D., Lotze, K. &amp; Ph. Meers (2012) Triangulation in historical audience research:  Reflections and experiences from a multimethodological research project on cinema audiences in Flanders, Participations, 9(2): 690-715.</li>
      <li>Biltereyst, D., Meers, Ph., Lotze, K. &amp; L. Van de Vijver (2012) Negotiating cinema's modernity: Strategies of control and audience experiences of cinema in Belgium, 1930s-1960s, pp. 186-201 in Biltereyst, D., Maltby R. &amp; Ph. Meers (eds.) Cinema, Audiences and Modernity: New perspectives on European cinema history, London: Routledge.</li>
      <li>Lotze, K. &amp; Ph. Meers (2010) Citizen Heylen. Opkomst en bloei van het Rex-concern binnen de Antwerpse bioscoopsector (1950- 1975), Tijdschrift voor Mediageschiedenis, 13(2): 80-107.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
