---
title: Antwerp Cinema City. A media-historical investigation into changes in film exhibition and experiences of cinemagoing 
description: "Throughout the twentieth century Antwerp had been playing a significant role for national film exhibition and distribution"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "pretty-woman.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Antwerp Cinema City. A media-historical investigation into changes in film exhibition and experiences of cinemagoing in the city of Antwerp (1945-1995) with a focus on the Rex cinema group</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>Throughout the twentieth century Antwerp had been playing a significant role for national film exhibition and distribution. From the 1950s onwards, Antwerp’s cinema history in turn, was closely linked to Georges Heylen and what would become to be known as his Rex cinema group. The project proposes to study the changes in Antwerp’s cinema history through a combination of four different perspectives and types of data: social and cultural geography, business history, film programming and oral history. Particular emphasis is given to questions of ownership and film programming of the cinemas, their integration in the city’s socio-cultural infrastructure and an analysis of the socio-economic dynamics within Antwerp's cinema market, synchronically and diachronically, as well as the lived experiences of films and cinemas as remembered by Antwerp citizens themselves.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Special Research Fund-University of Antwerp (BOF) 2009-2013</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:lotze.kathleen@gmail.com">Kathleen Lotze</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.linkedin.com/in/kathleen-lotze-5411a08">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers  </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="antwerp-cinema-city-output.html">Antwerp Cinema City - Output</a></p>
    </div>
  </div>
</div>
