---
title: "Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent (1953-71)"
---

<div class="project">
  <aside>
    <%= image_tag "cinema-capitole-1949.jpg" %>
    <%= image_tag "cinema-capitole.jpg" %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Capitole: Crisis and decline of a major first-run cinema in Ghent (1953-71)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This ongoing project focuses on the decline of a first-run, première film palace in Ghent after the Second World War. Next to material coming from the Ghent Cinema City project, this case study relies upon archival research (including police records, financial and other business material), oral histories, and programming analysis.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Ongoing research project</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul>
        <li class="more"><a href="daniel.biltereyst@ugent.be">Daniel Biltereys</a></li>
        <li class="more"><a href="liesbeth.vandevijver@ugent.be">Liesbeth Van de Vijver</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Links</h2>
      <p><a href="http://homernetwork.org/dhp-markers/filmapping-2/">Cinema Capitole project on HoMER platform</a></a></p>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><%= link_to 'Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent - Output', '/cinema-capitole-output.html' %></p>
    </div>
  </div><!-- end contact div -->
</div><!-- end project div -->
