---
title: "Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent (1953-71)"
description: "This ongoing project focuses on the decline of a first-run, première film palace in Ghent"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "streekkrant.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Capitole: Crisis and decline of a major first-run cinema in Ghent (1953-71)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This ongoing project focuses on the decline of a first-run, première film palace in Ghent. The case study is contextualized by the Ghent Cinema City project, but relies on the unique business archive of the managers family Lummerzheim containing post war attendance and revenue figures. Using unique archival material on more than 800 film titles, the project also includes oral histories  to explore financial policy, programming strategies and taste patterns in a pivotal period of crisis in the film market.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Ongoing research project</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li class="more"><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li class="more"><i class="fa fa-envelope"></i><a href="liesbeth.vandevijver@ugent.be">Lies Van de Vijver</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/lies-van-de-vijver">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><%= link_to 'Cinema Capitole: Crisis and decline of a major first-run cinema in Ghent - Output', '/cinema-capitole-output.html' %></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><%= link_to 'Cinema Capitole project on HoMER platform', 'http://homernetwork.org/dhp-markers/filmapping-2/' %></li>
      </ul>
    </div>
  </div><!-- end content div -->
</div><!-- end project div -->
