---
title: "Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent (1953-71) - Output"
---

<div class="project">
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent (1953-71) - Output</h1>
    </header>
    <ul class="output">
      <li>Van de Vijver, L. &amp; Biltereyst, D. (2013), <a href="http://www.tandfonline.com/doi/full/10.1080/09502386.2012.720268">Cinemagoing as a conditional part of everyday life: Memories of cinemagoing in Ghent from the 1930s to the 1970s</a>, Cultural Studies, 27(4): 561-584.</li>
      <li>Van de Vijver, L., Biltereyst, D.  &amp; Velders, K. (2015), <a href="http://www.tandfonline.com/doi/full/10.1080/01439685.2014.903037">Crisis at the Capitole: A cultural economics analysis of a major first-run cinema in Ghent, 1953-1971</a>, Historical Journal of Film, Radio and Television, 35(1): 75-124.</li>
      <li>Van de Vijver, L. (2015) Gent Kinemastad: Een historisch overzicht van de sociaaleconomische, geografische en ideologische ontwikkelingen van de bioscoopstructuur te Gent. Ghent: Academia. (CIMS Working Papers <a href="http://www.cims.ugent.be/publications/working-paper/gent-kinemastad-een-historisch-overzicht-van-de-sociaaleconomische-geogra">series</a>)</li>
      <li>Van de Vijver, L. &amp; Biltereyst, D. (2015) <a href="http://www.caermersklooster.be/en/exhibition_movie_theaters">Filmtheaters: Gent Cinemastad</a>. Gent: Provincie Oost-Vlaanderen/Caermersklooster, 64 p. [catalogue of the exhibition Filmtheaters: Gent Kinemastad, Caermersklooster, Gent, 9.10.2015 – 3.1.2016]</li>
      <li>Van de Vijver, L. (2016) '<a href="http://ecs.sagepub.com/content/19/4/403.full.pdf+html">Going to the Exclusive Show: Exhibition Strategies and Movie-going Memories of Disney’s Animated Feature Films in Ghent, 1937–1982</a>', European Journal of Cultural Studies, 19(4): 403-418.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
