---
title: "Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)"
description: "This ongoing project focuses on the rise and decline of a soft-erotic cinema in Ghent"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "affiche-leopold.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This ongoing project focuses on the rise and decline of a soft-erotic cinema in Ghent. The case study is contextualized by the Ghent Cinema City project, but relies on the unique business archive of the managers family Bonnevalle to study the financial background, the programming trends, and the entanglements with the police, the justice department and the city. Based on a clear historical understanding of the place, the research is enhanced with programming research based on the newspaper advertisements and oral histories on cinemagoing in the famous ‘Leopolleke’ of Ghent.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Ongoing research project</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="liesbeth.vandevijver@ugent.be">Lies Van de Vijver</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/lies-van-de-vijver">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><%= link_to 'Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972) - Output', 'cinema-leopold-output.html' %></p>
    </div>
    <div class="sub">
      <h2>Links to project</h2>
      <ul>
        <li><%= link_to 'Reference to the Cinema Leopold project on HoMER platform', 'http://homernetwork.org/dhp-markers/filmapping-2/' %></li>
        <li><%= link_to 'Blog with reference to Cinema Leopold', 'http://florsnieuweblog.blogspot.be/2015/04/cinema-leopold-over-porno-1.html' %></li>
      </ul>
    </div>
  </div><!-- end content div -->
</div><!-- end project div -->
