---
title: CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'antwerpen-seat-capacity.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Noordegraaf, J.J, Visser, J., Boter, J., Biltereyst, D., Meers, Ph., and Kisjes, I. "<a href=" https://dh2017.adho.org/abstracts/DH2017-abstracts.pdf">(Not) Going to the Movies: A Geospatial Analysis of Cinema Markets in The Netherlands and Flanders (1950-1970).</a>" In Digital Humanities 2017: Conferece Abstracts, 545–47. Montréal: McGill University/Université de Montréal, 2017.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
