---
title: CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975) 
description: "The CINEMAPS project aims to map cinema markets in the Netherlands and Flanders in the 1950s, 1960s and 1970s in a comparative study"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "map-holland.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>The CINEMAPS project aims to map cinema markets in the Netherlands and Flanders in the 1950s, 1960s and 1970s in a comparative study, combining a geospatial analysis of cinema density in both areas with data on pillarization, class and the organization and economics of the industry. As such, it will provide an answer to the core question of how the development of the cinema, as a specific cultural industry, interrelates with the social and cultural dimensions of modern public life in The Netherlands and Flanders.</p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>CREATE</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:J.A.T.Visser@uva.nl">Jolanda Visser</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uva.nl/profiel/v/i/j.a.t.visser/j.a.t.visser.html">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:J.J.Noordegraaf@uva.nl">Julia Noordegraaf</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uva.nl/profiel/n/o/j.j.noordegraaf/j.j.noordegraaf.html">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jaap.boter@vu.nl">Jaap Boter</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uva.nl/profiel/b/o/j.boter/j.boter.html">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cinemaps-a-datadriven-investigation-of-cinema-markets-output.html">CINEMAPS: A data-driven investigation of cinema markets in The Netherlands and Flanders (1950-1975) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://www.create.humanities.uva.nl/results/cinemaps-a-data-driven-investigation-of-cinema-markets-in-the-netherlands-and-flanders-1950-1975/">link to the project on the CREATE site</a></li>
      </ul>
    </div>
  </div>
</div>
