---
title: "Cinema Located. Place, space and experience of cinema in Ghent (1982-2012)"
description: "This project focuses on the social experience of screen culture from the emergence of the multiplex in Ghent in 1982 to the absorption of film in digital culture"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag 'logo-cl.jpg' %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Located. Place, space and experience of cinema in Ghent (1982-2012)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses on the social experience of screen culture from the emergence of the multiplex in Ghent in 1982 to the absorption of film in digital culture in the present day. Cinema Located contains a structural analysis of the film exhibition scene (using archival material on geographical locations and policy), a programming research (describing the supply and popularity of films) and an audience research on the experience of moviegoing to define the social in a post-moviegoing era.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Special Research Fund-Ghent University (BOF) 2012-2013; Research Foundation-Flanders (FWO) 2013-2016</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="liesbeth.vandevijver@ugent.be">Lies Van de Vijver</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/lies-van-de-vijver">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cinema-located-place-space-and-experience-of-cinema-in-ghent-output.html">Cinema Located. Place, space and experience of cinema in Ghent (1982-2012) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><%= link_to 'Cinema Located project on the CIMS research centre’s website', 'http://www.cims.ugent.be/research/current-research-projects/cinema-located' %></li>
        <li><%= link_to 'Cinema Located project on the HoMER platform', 'http://homernetwork.org/dhp-markers/cinema-located-2/' %></li>
      </ul>
    </div>
  </div><!-- en content div -->
</div><!-- end project div -->
