---
title: Cinema Ecosystem (CINECOS): A New Cinema History inspired project aiming at building an open access data platform
description: "CINECOS is an inter-university infrastructure project, which will develop an open access platform for sharing, enriching, analysing and sustaining data on cinema history in Flanders and Belgium"
---

<div class="project">
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Ecosystem (CINECOS): A New Cinema History inspired project aiming at building an open access data platform for cinema history in Flanders and Belgium</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>CINECOS is an inter-university infrastructure project, which will develop an open access platform for sharing, enriching, analysing and sustaining data on cinema history in Flanders and Belgium from 1896 onwards. Integrating more than a dozen of existing datasets covering key aspects of production, distribution, exhibition, programming, censorship and reception, the CINECOS platform will significantly improve the understanding and further exploration of cinema as a dominant public entertainment industry and as lived popular culture. CINECOS aims at (a) integrating these datasets, (b) enriching them with cinema heritage collections including posters, reviews and photographs as well as digitally-encoded oral histories and (c) making them available as open access, (d) hence facilitating (inter) national data exchange and comparative research. CINECOS will ensure that these valuable research assets are Findable, Accessible, Interoperable and Reusable (FAIR) for future generations of film historians, other researchers and users in Belgium and beyond. CINECOS, which is inspired by the <a href="http://www.cinemacontext.nl/">Cinema Context</a> platform (UvA), will provide a robust platform for managing and sustaining this unique dataset and will facilitate data driven exploration and analysis using data visualisation, mapping, text-mining and other digital tools. Drawing on the expertise of the <a href="http://www.ghentcdh.ugent.be/">Ghent Centre for Digital Humanities</a> and <a href="http://uahost.uantwerpen.be/platformdh/">Platform Digital Humanities</a> in Antwerp, CINECOS will be embedded into the <a href="http://be.dariah.eu/">DARIAH</a> Virtual Research Environment Service Infrastructure and the <a href="http://homernetwork.org/">HoMER network</a>.</p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Hercules Fund - FWO (2018-2021)</p>
    </div>
    <div class="sub">
      <h2>Supervisor (CIMS)</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.ugent.be/ps/communicatiewetenschappen/cims/en/team/daniel-biltereyst.htm">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Supervisors (Other)</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:sally.chambers@ugent.be">Sally Chambers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://research.flw.ugent.be/en/sally.chambers">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jaap.boter@vu.nl">Jaap Boter</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uva.nl/profiel/b/o/j.boter/j.boter.html">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers">website</a></li>
        <li>Dries Moreels (UGent)</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:J.J.Noordegraaf@uva.nl">Julia Noordegraaf</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uva.nl/profiel/n/o/j.j.noordegraaf/j.j.noordegraaf.html">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="sylvia.vanpeteghem@ugent.be">Sylvia Van Peteghem</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://telefoonboek.ugent.be/nl/people/801000684818">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="Christophe.Verbruggen@UGent.be">Christophe Verbruggen</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.ugent.be/cessmir/nl/over-cessmir/promotoren/christophe-verbruggen">website</a></li>
      </ul>
    </div>
  </div>
</div>
