---
title: "Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972) - Output"
description: "Output from the project"
---

<div class="project">
  <aside>
    <%= image_tag 'cinema-leopold.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972) - Output</h1>
    </header>
  </div><!-- end content div -->
</div><!-- end project div -->
