---
title: Cultura de la Pantalla en Tampico (1895-2017) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-tamesi-tranvia.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Tampico (1895-2017) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Nieto Malpica, J., Tello Iturbe, A., Rosas Rodríguez, M. E. &amp; Biltereyst, D. (2016). <a href="documents/art_nieto_et_al.pdf">El cine en Tampico y Ciudad Madero: exhibición, programación y contexto histórico-social en 1942</a>. Global Media Journal Mexico, 25(13): 159-170.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
