---
title: Cultura de la Pantalla en Tampico (1895-2017)
description: "This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Tampico"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "cine-hilda-nieto.jpg" %>
    </figure>
    <figure>
      <%= image_tag "cine-tampico.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Tampico (1895-2017)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Tampico, Tamaulipas, Mexico, now a metropolitan area where four cities converge (Tampico, Madero, Altamira and Pueblo Viejo. Methodologically it is a replica of the Enlightened City project (Flanders, Belgium), applying a triangulation of methods around a cartography of cinemas in Tampico (cf. database on venues, people and exhibition companies); an analysis of film programming (1942 to 2002, sample year per decade); and oral history on audience’s remembrance of film consumption habits in Tampico (1930-1992).</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project has not received any funding. Faculty members, undergraduate students of the Communication programs in Universidad Autónoma de Tamaulipas, at Tampico, Tamaulipas, have worked in the project on a voluntary basis.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:jnietomalpica@yahoo.com.mx">Jorge Nieto Malpica</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jose.lozano@tamiu.edu">José Carlos Lozano</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.tamiu.edu/binationalcenter/Fellows/Fellow-Dr.J.CarlosLozano.shtml">Web</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers  </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:atelloserv@hotmail.com">Alfonso Tello Iturbe</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:lidia88_6@hotmail.com">Lidia Rangel Blanco</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:geli_54@hotmail.com">Arlenne Barrios Carrillo</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:dvallejoortiz@hotmail.com">Dorian Ariel Vallejo Ortiz</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:elsa.ortiz.alanis10@gmail.com">Elsa Ortiz Alanis</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:carlosblanno@yahoo.com.mx">Carlos Blanno Granados</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:Jorge Gálvez Choy">jorgegalvezchoy@gmail.com</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:agumelmx@yahoo.com.mx">Alfredo Aguayo Meléndez</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:edapj11@gmail.com">Eda Puga</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cultura-de-la-pantalla-en-tampico-output.html">Cultura de la Pantalla en Tampico (1895-2017) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/screen-culture-monterrey">project on the HoMER platform</a></li>
      </ul>
    </div>
  </div>
</div>
