---
title: Cultura de la Pantalla en Torreón (1895-1992) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-royal-torreon.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Torreón (1895-1992) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Chong, B., Lozano, J.C., Meers, P. (2014). <a href="https://issuu.com/coneicc/docs/xxi_anuario_de_investigaci__n_de_la">El cine en Torreón, Coahuila, en sus orígenes y durante los procesos de urbanización y modernización de la ciudad</a>. XX Anuario de Investigación de la Comunicación CONEICC, 59-87.</li>
      <li>Chong, B., Ornelas, J., Solís, J. Flores, J. (2016). <a href="documents/art_chong_torreon.pdf">Las audiencias de cine en Torreón, Coahuila, México, durante las décadas 1940-1960</a>. Global Media Journal México, 25(13): 140-158.</li>
    </ul>
    <h3>Conference</h3>
    <ul class="output">
      <li>Chong, B., Lozano, J.C., Biltereyst, D. &amp; Meers, Ph. (2013) “El cine en Torreón, Coahuila, en el contexto de los procesos de urbanización y modernización de la ciudad”. Congreso Internacional de Comunicación Facetas, 4- 7 November 2013, Universidad Autónoma de Baja California.</li>
      <li>Chong, B., Palacios, J. &amp; Nahayeli Gómez. “El cine en Torreón en los procesos de urbanización de la ciudad”. 6. Encuentro Regional de Investigadores, CIESLAG-ULSA Laguna, 12 al 14 de mayo de 2014.</li>
      <li>Chong, B., Lozano, J.C., Bitereyst, D. &amp; Meers, Ph. (2014) “El cine en Torreón, Coahuila en sus orígenes y durante los procesos de urbanización y modernización de la ciudad”. XXVI Encuentro Nacional AMIC, Universidad Autónoma de San Luis Potosí, 22-23 May 2014.</li>
      <li>Chong, B., Lozano, J.C., Bitereyst, D. &amp; Meers, Ph. (2015) “El cine en Torreón: exhibición y programación de 1922 a 1962”. Encuentro Nacional AMIC, Universidad Autónoma de Querétaro, 4-5 June 2015.</li>
      <li>Chong, B.,  José Luz Ornelas, Jazmín Alejandra Solís López, Jessica Ivonne Flores Ramírez. “Las audiencias de cine en Torreón, Coahuila, México, durante las décadas 1940 – 1960”. TAMIU 2016 Communication Conference.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
