---
title: Cultura de la Pantalla en Barcelona (1895-2012)
description: "This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Barcelona."
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "sala-merce-gaudi.png" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Barcelona (1895-2012)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Barcelona. Methodologically it is a replica of the Belgian Enlightened City project, applying a triangulation of methods around a cartography of cinemas in Barcelona (cf. database on venues, people and exhibition companies); an analysis of film programming (1922 to 2012, sample year per decade); and oral history on audience’s remembrance of film consumption habits in Barcelona (1942-2012). Actually, all the databases of the cartography of cinemas since 1898 to 2012 are available, but they are not yet fully complete: the research team has all the data about ownership or the capacity of some cinemas, but more work is needed. The analysis of film programming is not yet finished, and only the film programming of 1942 is completely analyzed. Finally, the oral history on audiences is nearly finished, with 54 interviews (all in audiovisual format and transcribed). All this material has been digitalized and is shared within the Cultura de la Pantalla network. 
      </p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The Barcelona team has no funding.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:virginia.luzon@uab.cat">Virginia Luzón</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://uab.academia.edu/VirginiaLuz%C3%B3n">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:quimpuig@telefonica.net">Quim Puig</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://uab.academia.edu/JoaquimPuigGonz%C3%A1lez">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cultura-de-la-pantalla-output.html">Cultura de la Pantalla en Barcelona (1895-2012) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/barcelonas-cinema-history">project on the HoMER platform</a></li>
        <li><a href="http://www.uab.cat/departament/audiovisual-publicitat">http://www.uab.cat/departament/audiovisual-publicitat</a></li>
      </ul>
    </div>
  </div>
</div>
