---
title: Cultura de la Pantalla en Barcelona (1895-2012) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'monterrey-cinema-2.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Monterrey (1895-1972) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Lozano, J.C., Biltereyst, D.,  Frankenberg, L., Meers, P. e Hinojosa, L. (2012). Exhibición y programación cinematográfica de 1922 a 1962 en Monterrey, México: un estudio de caso desde la perspectiva de la "Nueva historia del cine". Global Media Journal Edición México, 9(18), 73-94.</li>
      <li>Lozano, J. C. y Frankenberg, L. (2013). Memories of films and cinema going in Monterrey, Mexico: A critique and review of in-depth interviews as a methodological strategy in audience studies. In Angarhad Valdivia (Ed.), Blackwell’s International Companion to Media Studies: Research Methods in Media Studies. Malden: Blackwell.</li>
      <li>Lozano, J.C., Meers, P. y Biltereyst, D. (2016). La experiencia social histórica de asistencia al cine en Monterrey, Nuevo León, México durante las décadas de los 1930 a los 1960. Palabra Clave, Revista de Comunicación, 19(3), 691-720, Colombia.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
