---
title: Cultura de la Pantalla in Mexico City (1895-1992)
description: "This project seeks to develop an integrated history of cinema culture in Mexico City, more precisely on film exhibition, programming and reception"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "cine-opera.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla in Mexico City (1895-1992)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project seeks to develop an integrated history of cinema culture in Mexico City, more precisely on film exhibition, programming and reception. It is a replica of the Enlightened City project (Flanders, Belgium), which includes an analysis of film programming; a cartography of cinemas; and the elaboration of life histories around the social experience of going to the movies (1930-1992) in Mexico City, capital of Mexico and one of the most populated megalopolises in the world.
      </p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>We received funding from the Universidad Autónoma de la Ciudad de México for mobility expenses and Website design.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <h3>Coordinators</h3>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:maricela.portillo@ibero.mx">Maricela Portillo Sánchez (Universidad Iberoamericana) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:vcastellanosc@gmail.com">Vicente Castellanos Cerda (Universidad Autónoma Metropolitana, Unidad Cuajimalpa)</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jeronimo.repoll@gmail.com">Jerónimo Repoll (Universidad Autónoma Metropolitana, Unidad Xochimilco)</a></li>
      </ul>
      <h3>Associated Researchers</h3>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:cgomezmoragas@hotmail.com">Cristina Gómez Moragas (UACM) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:marisoll.chann@gmail.com">Marisol Chan Concha (UACM) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:rebeca.doco@gmail.com">Rebeca Domínguez Cortina (UACM) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:edwin.culp@ibero.mx">Edwin Culp (Universidad Iberoamericana) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:julia.palacios@ibero.mx">Julia Palacios (Universidad Iberoamericana)</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cultura-de-la-pantalla-en-mexico-city-output.html">Cultura de la Pantalla in Mexico City (1895-1992)- Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="https://www.google.com/maps/d/viewer?mid=1mgFOH77ZnonFWWOhcNWET_uX9ms&ll=19.394899677344202%2C-99.10658440000003&z=11 ">mapping of cinemas in Mexico City</a></li>
        <li><a href="http://homernetwork.org/dhp-markers/screen-culture-mexico/">project on the HoMER platform</a></li>
      </ul>
    </div>
  </div>
</div>
