---
title: Cultura de la Pantalla en Barcelona (1895-2012)
description: "This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Barcelona."
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "cine-coliseum.png" %>
    </figure>
    <figure>
      <%= image_tag "sala-merce-gaudi.png" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Barcelona (1895-2012)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Barcelona. Methodologically it is a replica of the Belgian Enlightened City project, applying a triangulation of methods around a cartography of cinemas in Barcelona (cf. database on venues, people and exhibition companies); an analysis of film programming (1922 to 2012, sample year per decade); and oral history on audience’s remembrance of film consumption habits in Barcelona (1942-2012). Actually, all the database of the cartography of cinemas since 1898 to 2012 are available, but it is not yet fully complete: the research team has all the data about ownership or the capacity of some cinemas, but more work is needed. The analysis of film programming is not yet finished, and only the film programming of 1942 is completely analyzed. Finally, the oral history on audiences is nearly finished, with 54 interviews (all in audiovisual format and transcribed). All this material has been digitalized and is shared within the Cultura de la Pantalla network. 
      </p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The Barcelona team has no funding.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:virginia.luzon@uab.cat">Virginia Luzón</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://uab.academia.edu/VirginiaLuz%C3%B3n">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:quimpuig@telefonica.net">Quim Puig</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://uab.academia.edu/JoaquimPuigGonz%C3%A1lez">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <h3>Publications</h3>
      <p>- Luzón, V., Ferrer, I., Meers, Ph., Lozano, J.C. &amp; Biltereyst, D. (2014) "La memoria histórica del cine en Barcelona: una mirada al pasado a través de la experiencia de consumo de los espectadores", pp. 619-40, in J. Sierra Sánchez &amp; D. Rodríguez Parente (eds.). Miscelánea sobre el entorno audiovisual en 2014, Madrid: Editorial Fragua.</p>
      <p>- Meers, Ph., Luzón, V., Lozano, J.C., Biltereyst, D. &amp; Cabeza, E. (2014) "Metodologías de investigación para la “nueva historia del cine” / Research methodology for the ‘new cinema history’", pp. 711-723, in J. Sierra Sánchez &amp; D. Rodríguez Parente (eds.). Miscelánea sobre el entorno audiovisual en 2014, Madrid: Editorial Fragua.</p>
      <p>- Meers, Ph. &amp; Luzón, V. (2014) "Metodologías para la investigación de la historia del cine: el consumidor en su contexto", pp. 1886-1893, in K+E Espacios de Comunicación, IV Congreso Internacional de la Asociación Española de Investigación en Comunicación. Universidad del País Vasco: Bilbao.</p>
      <p>- Luzón, V. &amp; García Fleitas, E. (2016) "Cinemagoing en Barcelona: una proyección al futuro mediante la experiencia de consumo de los espectadores jóvenes", Global Media Journal México, 13(25): 63-95.</p>
      <h3>Conferences</h3>
      <p>- Luzón, V. &amp; Puig, Q. (2013) "Barcelona’s Cinema History. Some preliminary findings from a large scale replica study." NECS. Prague.</p>
      <p>- Meers, Ph. &amp; Luzon, V. (2014) "Metodologías para la investigación de la historia del cine: el consumidor en su contexto."  IV Congreso Internacional de la EA-IC. Espacios de Comunicación. Bilbao.
      </p>
      <p>- Luzón, V., Ferrer, I., Meers, Ph., Biltereyst, D. &amp; Lozano, J.C. (2014) "La memoria histórica del cine en Barcelona: una mirada al pasado a través de la experiencia de consumo de los espectadores." V Congreso Internacional de Investigadores Audiovisuales. Madrid.</p>
      <p>- Meers, Ph., Luzón, V., Lozano, J.C., Biltereyst, D. &amp; Cabeza, E. (2014) "Metodologías de investigación para la ‘New Cinema History’." V Congreso Internacional de Investigadores Audiovisuales. Madrid.</p>
      <p>- Luzón, V. &amp; Puig, Q. (2014) "Historical memory of cinema in Barcelona." NECS. Milan.</p>
      <p>- Luzón, V., Puig, Q. &amp; Lozano-Redon, J.C. (2014). "Early Cinema Venues in Barcelona, Spain (1897-1930)." SCMS. Seattle. 
      <p>- Luzón, V. &amp; Puig, Q. (2015) "Cinema Palace san Neighbourhood Venues in Barcelona (1986-1930)." European Cinema Research Forum. Galway.</p>

    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/barcelonas-cinema-history">project on the HoMER platform</a></li>
        <li><a href="http://www.uab.cat/departament/audiovisual-publicitat">http://www.uab.cat/departament/audiovisual-publicitat</a></li>
      </ul>
    </div>
  </div>
</div>
