---
title: Cultura de la Pantalla en Barcelona (1895-2012) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-coliseum.png' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Barcelona (1895-2012) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Luzón, V., Ferrer, I., Meers, Ph., Lozano, J.C. &amp; Biltereyst, D. (2014) "La memoria histórica del cine en Barcelona: una mirada al pasado a través de la experiencia de consumo de los espectadores", pp. 619-40, in J. Sierra Sánchez &amp; D. Rodríguez Parente (eds.). Miscelánea sobre el entorno audiovisual en 2014, Madrid: Editorial Fragua.</li>
      <li>Meers, Ph., Luzón, V., Lozano, J.C., Biltereyst, D. &amp; Cabeza, E. (2014) "<a href="documents/art_2014_metodologias_de_investigacion_para_la_nu.pdf">Metodologías de investigación para la “nueva historia del cine” / Research methodology for the ‘new cinema history’</a>", pp. 711-723, in J. Sierra Sánchez &amp; D. Rodríguez Parente (eds.). Miscelánea sobre el entorno audiovisual en 2014, Madrid: Editorial Fragua.</li>
      <li>Meers, Ph. &amp; Luzón, V. (2014) "Metodologías para la investigación de la historia del cine: el consumidor en su contexto", pp. 1886-1893, in K+E Espacios de Comunicación, IV Congreso Internacional de la Asociación Española de Investigación en Comunicación. Universidad del País Vasco: Bilbao.</li>
      <li>Luzón, V. &amp; García Fleitas, E. (2016) "Cinemagoing en Barcelona: una proyección al futuro mediante la experiencia de consumo de los espectadores jóvenes", Global Media Journal México, 13(25): 63-95.</li>
    </ul>
    <h3>Conferences</h3>
    <ul class="output">
      <li>Luzón, V. &amp; Puig, Q. (2013) "Barcelona’s Cinema History. Some preliminary findings from a large scale replica study." NECS. Prague.</li>
      <li>Meers, Ph. &amp; Luzon, V. (2014) "Metodologías para la investigación de la historia del cine: el consumidor en su contexto."  IV Congreso Internacional de la EA-IC. Espacios de Comunicación. Bilbao.</li>
      <li>Luzón, V., Ferrer, I., Meers, Ph., Biltereyst, D. &amp; Lozano, J.C. (2014) "La memoria histórica del cine en Barcelona: una mirada al pasado a través de la experiencia de consumo de los espectadores." V Congreso Internacional de Investigadores Audiovisuales. Madrid.</li>
      <li>Meers, Ph., Luzón, V., Lozano, J.C., Biltereyst, D. &amp; Cabeza, E. (2014) "Metodologías de investigación para la ‘New Cinema History’." V Congreso Internacional de Investigadores Audiovisuales. Madrid.</li>
      <li>Luzón, V. &amp; Puig, Q. (2014) "Historical memory of cinema in Barcelona." NECS. Milan.</li>
      <li>Luzón, V., Puig, Q. &amp; Lozano-Rendon, J.C. (2014). "Early Cinema Venues in Barcelona, Spain (1897-1930)." SCMS. Seattle.</li>
      <li>Luzón, V. &amp; Puig, Q. (2015) "Cinema Palaces an Neighbourhood Venues in Barcelona (1986-1930)." European Cinema Research Forum. Galway.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
