---
title: title:  Cultura de la Pantalla en Cartagena de Indias (1930-1962) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'teatro-padilla.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Cartagena de Indias (1930-1962) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Chajin O, Miranda W.  (2015). Memoria del consumo de cine en Cartagena de Indias, 1962-1982). Informe. Beca Ministerio de Cultura.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
