---
title: Cultura de la Pantalla in Mexico City (1895-1992)- Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-diana.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla in Mexico City (1895-1992) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Repoll, J., Portillo, M. &amp; Meers, P. (2014)"<a href="http://repositorio.ulima.edu.pe/xmlui/handle/ulima/1838">¿Qué hubiera sido de mi vida sin el cine?</a>". La experiencia cinematográfica en la Ciudad de México. Contratexto, Nº 22, Lima, pp. 213-228.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
