---
title: Cultura de la Pantalla en Torreón (1895-1992) - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-royal-torreon.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Torreón (1895-1992) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Chong, B., Lozano, J.C., Meers, P. (2014). El cine en Torreón, Coahuila, en sus orígenes y durante los procesos de urbanización y modernización de la ciudad. XX Anuario de Investigación de la Comunicación CONEICC, 59-87.</li>
      <li>Chong, B., Ornelas, J., Solís, J. Flores, J. (2016). <a href="documents/art_chong_torreon.pdf">Las audiencias de cine en Torreón, Coahuila, México, durante las décadas 1940-1960</a>. Global Media Journal México, 25(13): 140-158.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
