---
title: Cultura de la Pantalla en Monterrey (1895-1972)
description: "This project focuses upon the history of film exhibition, programming and cinema going experiences in Monterrey, Mexico"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "monterrey-cinema.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Monterrey (1895-1972)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinema going experiences in Monterrey, Mexico, the third largest city in the country. Methodologically it is a replica of the Enlightened City project (Flanders, Belgium), applying a triangulation of methods around a cartography of cinemas in Monterrey (cf. database on venues, people and exhibition companies); an analysis of film programming (1922 to 1972, sample year per decade); and oral history on audience’s remembrance of film consumption habits in Monterrey (1930-1972).</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project has not received any external funding. Faculty members, graduate and undergraduate students of the communication programs at Tecnológico de Monterrey (ITESM), México, have worked in the project on a voluntary basis.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:carlos.lozano@tamiu.edu">José Carlos Lozano (TAMIU/ITESM) </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.tamiu.edu/binationalcenter/Fellows/Fellow-Dr.J.CarlosLozano.shtml">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:lrnfrankenberg@gmail.com">Lorena Frankenberg (Universidad Metropolitana de Monterrey)</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:lhcordova@hotmail.com">Lucila Hinojosa (Universidad Autónoma de Nuevo León) </a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers  </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers/">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cultura-de-la-pantalla-en-monterrey-output.html">Cultura de la Pantalla en Monterrey (1895-1972) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/screen-culture-monterrey">project on the HoMER platform</a></li>
      </ul>
    </div>
  </div>
</div>
