---
title: Cultura de la Pantalla en Saltillo: Ideología, economía política y audiencias en interacción con el desarrollo social.
description: "This project focuses on cultural practices related to moviegoing"
---

<div class="project">
  <aside>
    <figure>
      &nbsp;
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Saltillo: Ideología, economía política y audiencias en interacción con el desarrollo social.</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses on cultural practices related to moviegoing throughout the XX Century and the beginning of the XXI in Saltillo, Coahuila, México. Located in northern México, Saltillo offers a strategic route for distribution of cultural and economical goods in the region: it’s close enough to cities like Monterrey, Torreón, Zacatecas, Laredo and the Mexican border with Texas. Besides, many famous actors of Mexican Cinema were born and raised in this city: the Soler Brothers, Beatriz Aguirre and Magda Guzman are some of them. Methodologically it is a replica of the Enlightened City project, but it emphasizes the city’s drive to industrialization and social development. Thus, the project involves the design of cartographies with cinemas’ location as well as audiences’ routes and paths, the analysis of local and foreign film programming, and oral history on audience’s remembrance of film consumption.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project is being reviewed to access funding from the Federal Department of Education in México, through its program to strengthen educational excellence (PROFEXCE 2020-2021).</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <p>Universidad Autónoma de Coahuila<br>
      Faculty of Communication Sciences
      </p>
      <h3>Coordinators</h3>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:brenda.munoz@uadec.edu.mx">Brenda Azucena Muñoz</a>. CA “Comunicación para el desarrollo social” (UACOAH-87)</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:antoniocorona@uadec.edu.mx">Sergio Antonio Corona Reyes</a>. CA “Cultura e Identidad”</li>
        </ul>
        <h3>Associated Researchers</h3>
        <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:miguelsanchez@uadec.edu.mx">Miguel Sánchez Maldonado</a>. CA “Comunicación para el desarrollo social” (UACOAH-87)</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:aida_hernandez_chavez@uadec.edu.mx">Aída Graciela Hernández Chávez</a>. PhD Student, CA “Comunicación para el desarrollo social” (UACOAH-87)</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:gabriela.pena@uadec.edu.mx">Gabriela de la Peña Astorga</a>. CA “Comunicación para el desarrollo social” (UACOAH-87)</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jcaraba@uadec.edu.mx">Julieta Idalia Carabaza González</a>.</li>
      </ul>
      <h3>Associated Students.</h3>
        <ul class="team">
        <li>Katya Estefanía García Nuncio. Programa de Licenciado en Comunicación.</li>
        <li>Rosario Reyes Arreozola. Programa de Licenciado en Comunicación Organizacional y Relaciones Públicas.</li>
        <li>Cinthia Monserrat Pérez Mendoza. Programa de Licenciado en Comunicación Organizacional y Relaciones Públicas.</li>
        </ul>
    </div>
  </div>
</div>
