---
title:  Cultura de la Pantalla en Cartagena de Indias (1930-1962)
description: "This project seeks to develop an integrated history of cinema culture in Mexico City, more precisely on film exhibition, programming and reception"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "teatro-miramar.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Cultura de la Pantalla en Cartagena de Indias (1930-1962)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinemagoing experiences in Cartagena de Indias, Colombia. Located in the north of the country, it is a  Caribbean cost city.  Methodologically it is a replica of the Enlightened City project, applying a triangulation of methods around a cartography of cinemas in Cartagena (cf. database on venues, people and exhibition companies); an analysis of film programming (1930-1962, sample year per decade); and oral history on audience’s remembrance of film consumption habits (1930-1962).</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project is the joint PhD project of Waydi Miranda Pérez at the Universidad Iberoamericana in Mexico City and the University of Antwerp in Belgium. The PhD candidate has received a four year (2013-2017) international PhD scholarship from CONACyT (México). </p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:mirandaperezwa@gmail.com">Waydi Miranda Perez (PhD student)</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.linkedin.com/in/waydi-miranda">website</a></li>
          <li><i class="fa fa-envelope"></i><a href="mailto:maricela.portillo@ibero.mx">Maricela Portillo Sanchez (PhD supervisor)</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers/">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:jose.lozano@tamiu.edu">José Carlos Lozano (TAMIU/ITESM)</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.tamiu.edu/binationalcenter/Fellows/Fellow-Dr.J.CarlosLozano.shtml ">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="cultura-de-la-pantalla-en-cartagena-output.html">Cultura de la Pantalla en Cartagena de Indias (1930-1962) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
    </div>
  </div>
</div>
