---
title: Events
description: ""
---

<div class="events">
  <header class="pageheader">
    <h1>Events</h1>
  </header>
  <aside>
    <%= image_tag "cinema-plaza-gent.jpg" %>
  </aside>
  <div class="content">
    <div class="project_country">
      <% data.events.each do |event| %>
        <%= partial "event", locals: { event: event } %>
      <% end %>
    </div>
  </div>
</div>
