---
title: Film programming and exhibition in Veracruz (1952)
description: "This new project is inspired by new cinema history approaches to film exhibition and cinemagoing"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "cartelera-el-dictamen.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Film programming and exhibition in Veracruz (1952)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This new project is inspired by new cinema history approaches to film exhibition and cinemagoing. It focuses upon the history of film exhibition, programming and cinemagoing experiences in Veracruz, Mexico, more precisely in 1952. Methodologically it relies upon the Enlightened City project (Flanders, Belgium) and upon a series of cinemagoing projects in Mexico.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project has not received any funding.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:jnietomalpica@yahoo.com.mx">Jorge Nieto Malpica</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
    </div>
  </div>
</div>
