---
title: Ghent Cinema City 2009-2012
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "logo-gk.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Ghent Cinema City (1896-2010)</h1>
    </header>
    <div class="sub">
    <h2>About</h2>
    <p>Ghent Cinema City (Gent Kinemastad) is a follow-up study of The Enlightened City project, now focusing upon the history of cinema culture in the city of Ghent and its suburbs (1896-2010). The project applied a triangulation of methods and approaches: an extensive dataset and mapping of film theatres and other exhibition places; programming analysis (sample years); and oral histories (62 interviews). The project contained some in-depth case studies on particular venues (e.g. on the main premiere cinema Capitol, on soft-erotic cinema Leopold).</p>
    </div>
    <div class="sub">
    <h2>Funding</h2>
    <p>BOF-UGent (Ghent University research fund), 2009-2012</p>
    </div>
    <div class="sub">
    <h2>Team / Contact</h2>
    <ul class="team">
      <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
      <li><i class="fa fa-envelope"></i><a href="liesbeth.vandevijver@ugent.be">Lies Van de Vijver</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/lies-van-de-vijver">website</a></li>
    </ul>
    </div>
    <div class="sub">
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="/ghent-cinema-city-output.html">Ghent Cinena City 2009-2012 Output</a></p>
    </div>
    <div class="sub">
    <h2>Links to the project</h2>
    <ul>
      <li><a href="http://europeancinemaaudiences.org/dhp-projects/ghent-map/">historical map of cinemas in Ghent</a></li>
      <li><a href="http://homernetwork.org/dhp-markers/filmapping-2/">Ghent Cinema City on HoMER platform</a></li>
      <li><a href="http://www.cims.ugent.be/research/past-research-projects/gent-kinemastad">Ghent Cinema City on the CIMS research centre’s website]</a></li>
      <li><a href="http://www.researchportal.be/project/gent-kinemastad-een-multimethodisch-onderzoek-naar-de-ontwikkeling-van-de-filmexploitatie-programmering-en-beleving-in-de-stad-gent-en-randgemeenten-1896-2010-als-case-binnen-een-internationaal-comparatief-new-cinema-history-onderzoek-%28UG_506%29/">Belgian FRIS research platform]</a></li>
    </ul>
    </div>
  </div>
</div>
