---
title: Ghent Cinema City - Output
---

<div class="project">
  <div class="content">
    <header class="pageheader">
      <h1>Ghent Cinema City (2009-2012) - Output</h1>
    </header>
    <ul class="output">
      <li>Van de Vijver, L. &amp; Biltereyst, D. (2010), Hollywood vs. Localiteit. Het ongelijke aanbod van Amerikaanse en Europese film in de jaren dertig in Gent, Tijdschrift voor Mediageschiedenis, 13(2): 60-79.</li>
      <li>Meers, Ph., Biltereyst, D. &amp; Van de Vijver, L. (2010) Metropolitan vs rural cinemagoing in Flanders, 1925-1975, Screen, 51(3): 272-280.</li>
      <li>Meers, Ph., Biltereyst, D. &amp; Van de Vijver, L. (2010), Memories, Movies, and Cinema-Going: An Oral History Project on Film Culture in Flanders (Belgium), pp. 319 - 337 in I. Schenk, M. Tröhler and Y. Zimmerman (eds.), Film – Kino – Zuschauer: Filmrezeption / Film – Cinema – Spectator: Film Reception. Marburg: Schüren.</li>
      <li>Biltereyst, D., Meers, Ph. &amp; Van de Vijver, L. (2011) Social Class, Experiences of Distinctions and Cinema in Postwar Ghent, pp. 101-124 in: R. Maltby, D. Biltereyst &amp; Ph. Meers (eds.) Explorations in New Cinema History: Approaches and Case Studies. Malden: Wiley-Blackwell.</li>
      <li>Van de Vijver,  L. (2011) Gent Kinemastad: Een multimethodisch onderzoek naar de ontwikkeling van de filmexploitatie, filmprogrammering en filmbeleving in de stad Gent en randgemeenten (1896-2010) als case binnen New Cinema History onderzoek. Ghent: Ghent University. [doctoral dissertation] </li>
      <li>Van de Vijver, L. (2012) ‘Distributie en exploitatie van film te Gent. Een historische typologie op basis van de programmeringsprofielen’, Tijdschrift voor Sociale en Economische Geschiedenis-The Low Countries Journal of Social and Economic History, 9(2): 73-100.</li>
      <li>Van de Vijver, L. (2012) Gent Kinemastad’, Revue Belge d’histoire contemporain/Belgisch Tijdschrift voor Hedendaagse Geschiedenis, 42(3-4): 235-241.</li>
      <li>Biltereyst, D., Meers, Ph., Lotze, K. &amp; Van de Vijver, L. (2012) Negotiating cinema’s modernity: Strategies of control and audience experiences of cinema in Belgium, 1930s-1960s, pp. 186-201 in D. Biltereyst, Ph. Meers &amp; R. Maltby (eds.) Cinema, Audiences and Modernity: New Perspectives on European Cinema History. London: Routledge.</li>
      <li>Biltereyst, D. Lotze, K. &amp; Meers, Ph. (2012) Triangulation in Historical Audience Research: Reflections and Experiences from a Multi-Methodological Research Project on cinema audiences in Flanders, Participations: Journal of Audience &amp; Reception Studies, 9(2): 690-715.</li>
      <li>Van de Vijver, L. &amp; Biltereyst, D. (2013), Cinemagoing as a conditional part of everyday life: Memories of cinemagoing in Ghent from the 1930s to the 1970s, Cultural Studies, 27(4): 561-584.</li>
      <li>Biltereyst, D. (2013) Film censorship in a liberal free market democracy: Strategies of film control and audience’s experiences of censorship in Belgium, pp. 275-293 in: Biltereyst, D. &amp; Vande Winkel, R. (eds.) Silencing Cinema: Film Censorship around the World. New York: Palgrave Macmillan.</li>
      <li>Van de Vijver, L., Biltereyst, D.  &amp; Velders, K. (2015), Crisis at the Capitole: A cultural economics analysis of a major first-run cinema in Ghent, 1953-1971, Historical Journal of Film, Radio and Television, 35(1): 75-124.</li>
      <li>Van de Vijver, L. (2015) Gent Kinemastad: Een historisch overzicht van de sociaaleconomische, geografische en ideologische ontwikkelingen van de bioscoopstructuur te Gent. Ghent: Academia. (CIMS Working Papers series)</li>
      <li>Van de Vijver, L. (2016) ‘Going to the Exclusive Show: Exhibition Strategies and Movie-going Memories of Disney’s Animated Feature Films in Ghent, 1937–1982’, European Journal of Cultural Studies, 19(4): 403-418.
      </li>
      <li>Van de Vijver, L. & Biltereyst, D. (2015) Filmtheaters: Gent Cinemastad. Gent: Provincie Oost-Vlaanderen/Caermersklooster, 64 p. [catalogue of the exhibition Filmtheaters: Gent Kinemastad, Caermersklooster, Gent, 9.10.2015 – 3.1.2016]</li>
      <li>Biltereyst, D. (2015), “I think Catholics didn’t go to the cinema”: Catholic film exhibition strategies and cinema-going experiences in Belgium, 1930s-1960s, pp. 255-271 in Biltereyst, D. &amp; Treveri-Gennari, D. (eds.) Moralizing Cinema: Film, Catholicism, and Power. New York: Routledge.</li>
      <li>Biltereyst, D. & Meers, Ph. (2016) New cinema history and the comparative mode: Reflections on comparing historical cinema cultures, Alphaville, special issue: Cinema Heritage in Europe.</li>
    </ul>
  </div>
</div>
