---
title: "A collaborative project on film exhibition, programming and audiences' experiences in urban contexts"
description: "A collaborative network of research on film exhibition, programming and audience experiences in urban contexts"
---

<div class="home">
  <div class="banner">
    <h1>Cinema City Cultures</h1>
    <hr>
    <p class="tagline">A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
  </div><!-- end banner -->
  <div class="content">
    <section class="about">
      <h2>About</h2>
      <p>A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
      <p class="more"><%= link_to 'More', '/about.html' %></p>
    </section><!-- end about -->
    <section class="maps">
       <h2>Maps</h2>
       <p>Geographical mapping of Cinema City Cultures projects</p>
      <p class="more"><a href="/maps.html">Go to maps</a></p>
    </section><!-- end maps -->
    <section class="events">
      <h2>Events</h2>
        <% if data.events %>
          <% data.events.take(2).each do |event| %>
            <p class="event"><strong><%= event["title"] %></strong> <%= event["description"] %>
            <% if event["link"].present? %>
              <a href="<%= event['link'] %>">More information</a>
            <% end %>
            </p>
          <% end %>
        <% end %>
      <p class="more"><a href="/events.html">More</a></p>
    </section><!-- end events -->
  </div><!-- end content -->
</div><!-- end home -->
