---
title: "A collaborative project on film exhibition, programming and audiences' experiences in urban contexts"
---

<div class="home">
  <div class="banner">
    <h1>Cinema City Cultures</h1>
    <hr>
    <p class="tagline">A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
  </div><!-- end banner -->
  <div class="content">
    <section class="about">
      <h2>About</h2>
      <p>A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
      <p class="more"><%= link_to 'More', '/about.html' %></p>
    </section><!-- end about -->
    <section class="maps">
       <h2>Maps</h2>
       <p>Geographical mapping of Cinema City Cultures projects</p>
      <p class="more"><a href="/maps.html">Go to maps</a></p>
    </section><!-- end maps -->
    <section class="events">
      <h2>Events</h2>
      <ul>
        <li>Publications: Special issue of <a href="http://journals.sagepub.com/doi/full/10.1177/1750698016670783">Memory Studies on cinema-going and memory</a>, edited by Annette Kuhn, Daniel Biltereyst and Philippe Meers, with an introduction by the editors and with articles on cinema-going in various cities, including an article by José Carlos Lozano on ‘Cinemagoing and memories of films in Laredo, Texas’.</li>
      </ul>
    </section><!-- end events -->
  </div><!-- end content -->
</div><!-- end home -->
