---
title: "A collaborative project on film exhibition, programming and audiences' experiences in urban contexts"
description: "A collaborative network of research on film exhibition, programming and audience experiences in urban contexts"
---

<div class="home">
  <div class="banner">
    <h1>Cinema City Cultures</h1>
    <hr>
    <p class="tagline">A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
  </div><!-- end banner -->
  <div class="content">
    <section class="about">
      <h2>About</h2>
      <p>A collaborative network of research on film exhibition, programming and audience experiences in urban contexts</p>
      <p class="more"><%= link_to 'More', '/about.html' %></p>
    </section><!-- end about -->
    <section class="maps">
       <h2>Maps</h2>
       <p>Geographical mapping of Cinema City Cultures projects</p>
      <p class="more"><a href="/maps.html">Go to maps</a></p>
    </section><!-- end maps -->
    <section class="events">
      <h2>Events</h2>
      <ul>
        <li>Symposium: European Performing Arts Dataverse, Amsterdam, 9 November 2017, organized by CREATE, see <a href="http://www.create.humanities.uva.nl/events/epad-symposium/">here</a></li>
        <li>Call for papers for the panel ‘Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018)’, organized by Thunnis Van Oort and Åsa Jernudd, at the EAUH Conference 2018, see <a href="https://eauh2018.ccmgs.it/users/index.php?pagename=cms&name=sessiontracks&trackname=cinema-in-and-the-city--cinema-as-space-and-social-experience-in-europe">here</a></li>
      </ul>
      <p class="more"><a href="/events.html">More</a></p>
    </section><!-- end events -->
  </div><!-- end content -->
</div><!-- end home -->
