---
title: Welcome to Middleman
---

<div class="home">
  <div class="banner">
    <h1>Cinema City Cultures</h1>
    <p class="tagline">A collaborative project on film exhibition, programming and audiences’ experiences in urban contexts</p>
  </div><!-- end banner -->
  <div class="content">
    <section class="about">
      <h2>About</h2>
      <p>Cinema City Cultures is a network of collaborative research projects examining the interconnection between cinema, modernity and urbanity</p>
      <p class="more"><%= link_to 'More', '/about.html' %></p>
    </section><!-- end about -->
    <section class="maps">
       <h2>Maps</h2>
       <p>Flexitarian brooklyn pabst plaid, mlkshk vice health goth next level tilde cray. Hashtag church-key pug, kitsch selvage seitan brooklyn shoreditch franzen 8-bit pickled kickstarter stumptown taxidermy. Marfa fanny pack waistcoat, butcher meggings kale chips synth vegan semiotics four loko whatever cray pug.</p>
      <p class="more"><a href="">More</a></p>
    </section><!-- end maps -->
    <section class="events">
      <h2>Events</h2>
      <ul>
        <li class="more"><a href"#">09-08-2016. Workshop (4): Historical Network Research</a></li>
        <li class="more"><a href"#">09-08-2016. Workshop (4): Historical Network Research</a></li>
      </ul>
      <p class="more"><a href="">More</a></p>
    </section><!-- end events -->
  </div><!-- end content -->
</div><!-- end home -->
