---
title: Welcome to Middleman
---

<div class="home">
  <div class="banner">
    <h1>The Enlightened City</h1>
  </div><!-- end banner -->
  <div class="content">
    <section class="about">
      <h2>About</h2>
      <p>Flexitarian brooklyn pabst plaid, mlkshk vice health goth next level tilde cray. Hashtag church-key pug, kitsch selvage seitan brooklyn shoreditch franzen 8-bit pickled kickstarter stumptown taxidermy. Marfa fanny pack waistcoat, butcher meggings kale chips synth vegan semiotics four loko whatever cray pug.</p>
      <p class="more"><a href="">More</a></p>
    </section><!-- end about -->
    <section class="maps">
       <h2>Maps</h2>
       <p>Flexitarian brooklyn pabst plaid, mlkshk vice health goth next level tilde cray. Hashtag church-key pug, kitsch selvage seitan brooklyn shoreditch franzen 8-bit pickled kickstarter stumptown taxidermy. Marfa fanny pack waistcoat, butcher meggings kale chips synth vegan semiotics four loko whatever cray pug.</p>
      <p class="more"><a href="">More</a></p>
    </section><!-- end maps -->
    <section class="events">
      <h2>Events</h2>
      <p>Flexitarian brooklyn pabst plaid, mlkshk vice health goth next level tilde cray. Hashtag church-key pug, kitsch selvage seitan brooklyn shoreditch franzen 8-bit pickled kickstarter stumptown taxidermy. Marfa fanny pack waistcoat, butcher meggings kale chips synth vegan semiotics four loko whatever cray pug.</p>
      <p class="more"><a href="">More</a></p>
    </section><!-- end events -->
  </div><!-- end content -->
</div><!-- end home -->
<script>
  $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("show");

    menuToggle.on('click', function(e) {
      e.preventDefault();
      $('#js-navigation-menu').slideToggle(function(){
        if($('#js-navigation-menu').is(':hidden')) {
          $('#js-navigation-menu').removeAttr('style');
        }
      });
    });
  });
</script>
