---
title: Links
description: "links for websites in the field of cinema studies"
---

<div class="linkspage">
  <header class="pageheader">
    <h1>Links</h1>
  </header>
  <aside>
    <figure>
      <%= image_tag "florida.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <h2>Exhibition</h2>
    <div class="sub">
    <ul class="links">
      <li><a href="http://auscinemas.flinders.edu.au/">Australian Cinemas Map</a> (map of Film Weekly Motion Picture Directory cinema data, 1948-1971, Australia)</li>
      <li><a href="http://www.cinemacontext.nl/">Cinema Context</a>  (encyclopedia and research tool for studying film culture in the Netherlands, 1896-1960, The Netherlands)</li>
      <li><a href="http://cinema-theatre.org.uk">Cinema Theatre Association</a> (Information on former and existing cinemas, UK)</li>
      <li><a href="http://cinematreasures.org">Cinema Treasures</a> (comprehensive guide to movie theaters)</li>
      <li><a href="http://earlycinema.gla.ac.uk/">Early Cinema in Scotland</a>  (integrated account of the beginnings of cinemas in Scotland, 1896-1927, UK)</li>
      <li><a href="https://www.phil.muni.cz/dedur/?&lang=1">Film culture in Brno</a> (history of distribution, exhibition and reception in Brno, 1945-1970, Czech Republic)</li>
      <li><a href="http://www.earlycinema.uni-koeln.de">The German Early Cinema Database</a> (Siegen Database, collection of data related to film supply, distribution, exhibition and reception in Germany, 1895-1926, Germany)</li>
      <li><a href="http://docsouth.unc.edu/gtts">Going to the Show</a> (project documenting and illuminating the experience of movies and moviegoing in North Carolina from the introduction of projected motion pictures in 1896 to the end of the silent film era, circa 1930, USA)</li>
      <li>  <a href="http://homernetwork.org/about/">HoMER website</a> (website of the History of Moviegoing, Exhibition, and Reception Project, promoting research on film going, exhibition, and reception; including Digital HoMER with an overview of cinemagoing research) </li>
      <li><a href="http://italiancinemaaudiences.org/">Italian Cinema Audiences</a> (collaborative research project exploring cinema audiences in Italy in the 1950s, Italy)</li>
      <li><a href="http://kinomatics.com/">Kinomatics: The Industrial Geometry of Culture</a> (collection, exploration, analysis and representation of data about creative industries)</li>
      <li><a href="http://londonfilm.bbk.ac.uk/">The London Project</a> (mapping, analysis and making more widely known the social and economic integration of film in London, 1894-1914, UK)</li>
      <li><a href="http://www.mappingmovies.com/">Mapping Movies</a> (Jeff Klenotic's exploration of how people and movies interact in places that vary and change over time,  USA)</li>
      <li>The Paris Cinema Project [<a href="https://pariscinemablog.wordpress.com/">Eric Smoodin’s The Paris Cinema Project blog, France</a>]</li>
      <li><a href="http://www.scottishcinemas.org.uk">Scottish Cinemas and Theatres Project</a> (recording and archiving of historic architectural heritage in Scotland, UK)</li>
    </ul>
    </div>
    <div class="sub">
    <h2>Programming</h2>
    <ul class="links">
      <li><a href="http://importing-asta-nielsen.deutsches-filminstitut.de/">Asta Nielsen project</a> (online collaborative database with texts and advertisements which were published worldwide in the trade press and the local press up to the end of the year 1915 on Asta Nielsen films and on individuals involved in the production, distribution, exhibition, and reception of the 27 long-feature films with Asta Nielsen)</li>
      <li><a href="http://www.cinemacontext.nl/">Cinema Context</a>  (encyclopedia and research tool for studying film culture in the Netherlands, 1896-1960, The Netherlands)</li>
      <li><a href="http://www.cinemetrics.lv/about.php">Cinemetrics</a> (online database and toolkit for statistical film style analysis)</li>
      <li><a href="http://echo.commarts.wisc.edu/about">ECHO/ Early Cinema History Online</a> (online filmography of early American cinema, 1908-1920, USA)</li>
      <li><a href="http://europeancinemaaudiences.org/">European Cinema Audiences</a> (project on comparing cinema cultures in various European cities)</li>
      <li><a href="http://homernetwork.org/about/">HoMER</a> (website of the History of Moviegoing, Exhibition, and Reception Project, promoting research on film going, exhibition, and reception; including Digital HoMER with an overview of cinemagoing research)</li>
      <li><a href="http://indiancine.ma/home">Indian Cinema</a> (annotated online archive of Indian film,  intended to serve as a shared resource for film scholars in India and beyond, India)</li>
      <li><a href="http://mappingdesmet.humanities.uva.nl/#/">Mapping Desmet</a> (tool to visualise the programming and distribution of the films of Jean Desmet, a film distributor and cinema owner in the Netherlands,1875-1956)</li>
      <li><a href="http://turkishcine.ma/">Turkish Cinema</a> (online archive on Turkish films, Turkey)</li>
    </ul>
    </div>
    <div class="sub">
      <h2>Audiences</h2>
      <ul class="links">
        <li><a href="https://www.ucl.ac.uk/cinemamemories">Cinema Memories</a> (project on cinemagoing experiences and memories of cinema in 1960s Britain, UK)</li>
        <li><a href="http://homernetwork.org/about/">HoMER</a> (website of the History of Moviegoing, Exhibition, and Reception Project, promoting research on film going, exhibition, and reception; including Digital HoMER with an overview of cinemagoing research)</li>
        <li><a href="http://italiancinemaaudiences.org/">Italian Cinema Audiences</a> (collaborative research project exploring cinema audiences in Italy in the 1950s, Italy)</li>
      </ul>
    </div>
    <div class="sub">
      <h2>Other useful sites</h2>
      <ul class="links">
        <li><a href="http://search.projectarclight.org/">Arclight</a> (searches the collections of the Media History Digital Library)</li>
        <li><a href="http://www.calindex.eu/">Calindex</a> (index of French film journals and magazines)</li>
        <li><a href="http://www.cineressources.net/recherche_t.php">Ciné-Ressources</a> (French film-related online catalogue)</li>
        <li><a href="https://extranet.u-bordeaux-montaigne.fr/cinepop/recherche.php">Cinépop 50</a> (French site on popular movie magazines)</li>
        <li><a href="https://www.digitalcinemastudies.com/">DICIS / Digital Cinema Studies</a> (network promoting the usage of digital tools in film and cinema studies, organizing workshops, panels and conferences)</li>
        <li><a href="http://www.europeanfilmgateway.eu/">EFG</a> (European Film Gateway)</li>
        <li><a href="http://film-bioscoopbranche.nl/">Historie Film- en Bioscoopbranche</a> (online archive with material on the Dutch film industry)</li>
        <li><a href="http://www.iasa-web.org/">IASA</a> (International Association of Sound and Audiovisual Archives)</li>
        <li>IMDb [<a href="http://www.imdb.com/">The Internet Movie Database</a>]</li>
        <li><a href="http://mediahistoryproject.org/">MHDL / Media History Digital Library</a> (Online Access to the Histories of Cinema, Broadcasting, and Recorded Sound)</li>
        <li><a href="http://www.picturegoing.com/">Picturegoing: Eyewitness Accounts of viewing Pictures</a> (site documenting the experience of going to see pictures)</li>
        <li><a href="https://wfpp.cdrs.columbia.edu/">Women film pioneers project</a> (a freely accessible, collaborative online database that showcases the hundreds of women who worked behind-the-scenes in the silent film industry as directors, producers, editors, exhibitors, and more)</li>
      </ul>
    </div>
  </div>
</div>
