---
title: Moviegoing at the docks in Antwerp and Rotterdam - Output
---

<div class="project">
  <div class="content">
    <header class="pageheader">
      <h1>Moviegoing at the docks in Antwerp and Rotterdam - Output</h1>
    </header>
    <ul class="output">
      <li>Van Oort, Th. (2016)<a href="http://www.tandfonline.com/doi/abs/10.1080/01439685.2016.1157294"> Industrial Organization of Film Exhibitors in the Low Countries: Comparing the Netherlands and Belgium, 1945-1960</a>, Historical Journal of Film, Radio and Television (online).  http://dx.doi.org/10.1080/01439685.2016.1157294</li>
      <li>Biltereyst, D., Meers, Ph. &amp; Van Oort, T. (2017) Abundance, difference and connectivity: Reflections on comparing historical cinema city cultures with a cross-national case study on Antwerp and Rotterdam, in D. Biltereyst, R. Maltby and Ph. Meers (eds.) The Routledge Companion to New Cinema History. London/New York: Routledge.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
