---
title: Moviegoing at the docks in Antwerp and Rotterdam
description: "From the early days of the cinema, Flanders boasted among the highest cinema attendance per capita on the continent"
---

<div class="project">
  <aside>
    <figure>
    <%= image_tag "metro.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Moviegoing at the docks in Antwerp and Rotterdam (1910-1990)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>From the early days of the cinema, Flanders boasted among the highest cinema attendance per capita on the continent, while their Dutch neighbours were about the least frequent moviegoers of all Europeans. The aim of this project is to map and explain this remarkable difference in the two neighbouring cinema cultures of the two port cities of Antwerp and Rotterdam. The project mainly comprises a comparison of exhibition structures and programming.</p>
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>Movie-going at the docks. A media historical comparative analysis of cinema cultures in Antwerp (Flanders) and Rotterdam (Netherlands) (1910-1990), Pegasus Marie Curie Fellowship postdoc fellowship, EU/FWO-Flanders, 2015-16.</p>
    </div>
    <div class="sub">
      <h2 class="team">Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:t.oort@ucr.nl">Thunnis van Oort</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.ucr.nl/about-ucr/Faculty-and-Staff/Arts-and-Humanities/Pages/Thunnis-van-Oort.aspx">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers  </a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers/">website</a></li>
      </ul>
    </div>
    <div class="output">
      <h2>Output</h2>
      <p><a href="/moviegoing-at-the-docks-in-antwerp-and-rotterdam-output.html">Moviegoing at the docks in Antwerp and Rotterdam, 1910-1990 - Output</a></p>
    </div>
  </div><!-- end div content -->
</div><!-- end div project -->
