---
  title: Post-war agglomerations Antwerp and Rotterdam
---

<div class="project">
  <div class="content">
    <header class="pageheader">
      <h1>Post-war agglomerations Antwerp and Rotterdam</h1>
      <p>These maps zoom out to the post-war urban agglomeration that includes the surrounding municipalities of Antwerp and Rotterdam. The municipal boundary is indicated by the black dashed line. The first maps show the situation in the late 1940s. They print the names of the municipalities, and in the case of Rotterdam the various city districts. The darker the hue, the higher the population density in the late 1940s. The relative size of the circles corresponds to the seating capacity of the cinema. The other maps depict the post-war situation until the late 1960s/early 1970s (the slight differences in chronology are related to variations in the available statistics). For each municipality (and for the case of Rotterdam also each district in the city) the darker the hue, the faster the population growth in that area. Again, the circles represent cinemas with the size of the circles corresponding to the seating capacity. In the first map, the colour of the circles refer to the year the cinema was opened, in the second map to the year of closing. Maps created by Thunnis van Oort.</p>
    </header>
    <div class="maps">
      <div class="map">
      <img src="../images/antw-aggl-population-dens-47.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-aggl-1948.jpg" />
      </div>
      <div class="map">
        <img src="../images/antw-aggl-population.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-grwth-pop-density-48.jpg" />
      </div>
      <div class="map">
        <img src="../images/antw-aggl-population-grw-45.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-grwth-48.jpg" />
      </div>
    </div>
  </div>
</div>



