---
title: Methods, Programming
---

<div class="research">
  <aside>
    <%= image_tag "rex-cape-fear.jpg" %>
    <%= image_tag "kinderen-met-balonnen.jpg" %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Programming</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>Literally four loko cred truffaut, pour-over fap fingerstache. Freegan art party kitsch, fingerstache helvetica fixie hashtag. Tilde health goth literally craft beer. Shoreditch man braid fap 3 wolf moon. Polaroid Xmessenger bag, vegan slow-carb cornhole godard narwhal you probably haven't heard of them heirloom. Etsy mustache semiotics, scenester meh umami tilde locavore yr selvage next level venmo ugh. Roof party fap ethical VHS photo booth.</p>
    </div>
  </div>
</div><!-- end research div -->

