---
title: Projects
---

<div class="projects">
  <header>
    <h1>Projects</h1>
    <nav>
      <ul class="countries">
        <li class="more"><a href="">Belgium</a></li>
        <li class="more"><a href="">Italy</a></li>
        <li class="more"><a href="">Mexico</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div class="project_country">
      <h2>Belgium</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
    <div class="project_country">
      <h2>Italy</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
    <div class="project-country">
      <h2>Mexico</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
  </div>
</div>
