---
title: Projects
---

<div class="projects">
  <header class="pageheader">
    <h1>Projects</h1>
    <nav>
      <ul class="countries">
        <li class="more"><a href="#belgium">Belgium</a></li>
        <li class="more"><a href="#italy">Italy</a></li>
        <li class="more"><a href="#mexico">Mexico</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div id="belgium" class="project_country">
      <aside>
        <%= image_tag "brussel-volkshuis-300.jpg" %>
      </aside>
      <h2>Belgium</h2>
      <ul>
        <li class="more"><%= link_to 'The Enlightened City: Film exhibition and film consumption in Flanders (1895-2004)', '/the-enlightened-city.html' %></li>
        <li class="more"><a href="">Antwerp Cinema City (1896-2010)</a></li>
        <li class="more"><%= link_to 'Ghent Cinema City (1896-2010)', '/ghent-cinema-city.html' %></a></li>
        <li class="more"><a href="">Cinema Leopold: Growth and decline of a soft-erotic cinema in Ghent (1945-1972)</a></li>
        <li class="more"><a href="">Cinema Capitol: Crisis and decline of a major first-run cinema in Ghent (1953-71)</a></li>
        <li class="more"><a href="">Moviegoing at the docks in Antwerp and Rotterdam (1910-1990)</a></li>
        <li class="more"><a href="">Reopening Cinemas in Antwerp and Brussels (2015)</a></li>
      </ul>
    </div>
    <div id="mexico" class="project_country">
      <aside>
        <%= image_tag "brussel-volkshuis-300.jpg" %>
      </aside>
      <h2>Mexico</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
  </div>
</div>
