---
title: Projects
---

<div class="projects">
  <header class="pageheader">
    <h1>Projects</h1>
    <nav>
      <ul class="countries">
        <li class="more"><a href="#belgium">Belgium</a></li>
        <li class="more"><a href="#italy">Italy</a></li>
        <li class="more"><a href="#mexico">Mexico</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div id="belgium" class="project_country">
      <aside>
        <%= image_tag "brussel-volkshuis-300.jpg" %>
      </aside>
      <h2>Belgium</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><%= link_to 'Gent Cinema City 2009-2012', '/ghent-cinema-city.html' %></a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
    <div id="italy" class="project_country">
      <aside>
        <%= image_tag "brussel-volkshuis-300.jpg" %>
      </aside>
      <h2>Italy</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
    <div id="mexico" class="project_country">
      <aside>
        <%= image_tag "brussel-volkshuis-300.jpg" %>
      </aside>
      <h2>Mexico</h2>
      <ul>
        <li class="more"><a href="">The Enlightened City 2005-2008</a></li>
        <li class="more"><a href="">Antwerp Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Gent Cinema City 2009-2012</a></li>
        <li class="more"><a href="">Cinema Located</a></li>
        <li class="more"><a href="">Cinema Leopold</a></li>
        <li class="more"><a href="">Cinema Capitol Reopening Cinemas</a></li>
      </ul>
    </div>
  </div>
</div>
