---
title:
---

<div class="project">
  <aside>
    <figure>
    <%= image_tag "cine-roma-1953.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</h1>
    </header>
    <ul class="output">
      <li>Ferraz, T. (2016). <a href="http://www.seer.ufs.br/index.php/eptic/article/view/5221">Mais do que cinemas: parcerias entre esferas públicas, privadas e sociedade civil na reabertura de antigas salas de exibição no Brasil e na Bélgica</a>, Revista Eptic, 18(2) : 159-173.</li>
      <li>Ferraz, T. (2016) Usos e instrumentalizações da memória em reaberturas de antigos cinemas: De Roma, um caso belga". Contracampo Journal, 35(3) : 164-186. Web page: <a href="http://www.contracampo.uff.br/index.php/revista/article/view/858/pdf">http://www.contracampo.uff.br/index.php/revista/article/view/858/pdf</a></li>
      <li>Ferraz, T. (2016) <a href="documents/2017-ferraz-activating-nostalgia.pdf">Activating Nostalgia</a>, medien &amp; zeit, 4: 72-82.</li>
      <li>Ferraz, T. (2017) A memória da ida ao cinema e a mobilização das audiências no caso do Cine Belas Artes”. Anais do 26° Encontro Nacional da Compós, 2017, São Paulo. Web page: <a href="http://www.compos.org.br/data/arquivos_2017/trabalhos_arquivo_HPNQMODZ50HZQ6HG79OE_26_5661_19_02_2017_15_15_07.pdf">http://www.compos.org.br/data/arquivos_2017/trabalhos_arquivo_HPNQMODZ50HZQ6HG79OE_26_5661_19_02_2017_15_15_07.pdf</a></li>
      <li>Ferraz, T. (2017) Reapertura de salas de cine, memoria del cinema-going y gestión del patrimonio cultural: una comparación entre Brasil e Bélgica. Global Media Journal México, 14(26) : 24-43. Web page: <a href="http://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/255">http://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/255</a></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
