---
title:
---

<div class="project">
  <aside>
    <figure>
    <%= image_tag "cine-roma-1953.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</h1>
    </header>
    <ul class="output">
      <li>Ferraz, T. (2016). <a href="http://www.seer.ufs.br/index.php/eptic/article/view/5221">Mais do que cinemas: parcerias entre esferas públicas, privadas e sociedade civil na reabertura de antigas salas de exibição no Brasil e na Bélgica</a>, Revista Eptic, 18(2) : 159-173.</li>
      <li>Ferraz, T. (2016) Usos e instrumentalizações da memória em reaberturas de antigos cinemas: De Roma, um caso belga". Contracampo Journal, 35(3) : 164-186. Web page: <a href="http://www.contracampo.uff.br/index.php/revista/article/view/858/pdf">http://www.contracampo.uff.br/index.php/revista/article/view/858/pdf</a></li>
      <li>Ferraz, T. (2016) <a href="documents/2017-ferraz-activating-nostalgia.pdf">Activating Nostalgia</a>, medien &amp; zeit, 4: 72-82.</li>
      <li>Ferraz, T. (2017) A memória da ida ao cinema e a mobilização das audiências no caso do Cine Belas Artes”. Anais do 26° Encontro Nacional da Compós, 2017, São Paulo. Web page: <a href="http://www.compos.org.br/data/arquivos_2017/trabalhos_arquivo_HPNQMODZ50HZQ6HG79OE_26_5661_19_02_2017_15_15_07.pdf">http://www.compos.org.br/data/arquivos_2017/trabalhos_arquivo_HPNQMODZ50HZQ6HG79OE_26_5661_19_02_2017_15_15_07.pdf</a></li>
      <li>Ferraz, T. (2017) Reapertura de salas de cine, memoria del cinema-going y gestión del patrimonio cultural: una comparación entre Brasil e Bélgica. Global Media Journal México, 14(26) : 24-43. Web page: <a href="http://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/255">http://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/255</a></li>
    </ul>
    <h2>Conferences:</h2>
    <ul class="output">
      <li>Ferraz, T. (2015) Em breve sob nova direção: os casos das reaberturas dos cinemas Pathé Palace e Imperator”. 2015. In: V Encontro anual da Associação de Investigadores da Imagem em Movimento (AIM). AIM Programme. Lisbon: AIM, 2015. Web page: <a href="http://aim.org.pt/encontro/VEncontroAnualAIM-Programa-LivroResumos.pdf">http://aim.org.pt/encontro/VEncontroAnualAIM-Programa-LivroResumos.pdf</a></li>
      <li>Ferraz, T. (2016) “‘We are De Roma’: a Belgian case of audience devotion and management of cinema-going memories”. In: Necs Conference, 2016, Potsdam. Web page: <a href="http://necs.org/conference/wp-content/uploads/2015/06/NECS_2016_Program_Potsdam_Web-2.pdf">http://necs.org/conference/wp-content/uploads/2015/06/NECS_2016_Program_Potsdam_Web-2.pdf</a></li>
      <li>Ferraz, T. (2016) “Audience activism in reactivations of Brazilian movie theatres: from cinema-going memories to the community and institutional strategies”. In: Homer Conference 2016, Potsdam. Web page: <a href="http://necs.org/conference/wp-content/uploads/2015/06/NECS_2016_Program_Potsdam_Web-2.pdf">http://necs.org/conference/wp-content/uploads/2015/06/NECS_2016_Program_Potsdam_Web-2.pdf</a></li>
      <li>Ferraz, T. (2016) “Memórias e ativismo no caso da reativação do cineteatro belga De Roma”. In: Anais do XX Encontro da Sociedade Brasileira de Estudos de Cinema e Audiovisual – SOCINE, 2016, Curitiba. Web page: <a href="https://associado.socine.org.br/anais/2016/16426/talitha_gomes_ferraz/memorias_e_ativismo_no_caso_da_reativacao_do_cine_teatro_belga_de_roma">https://associado.socine.org.br/anais/2016/16426/talitha_gomes_ferraz/memorias_e_ativismo_no_caso_da_reativacao_do_cine_teatro_belga_de_roma</a></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
