---
title: "Reopening Cinemas" 
description: "This project examines the phenomenon of reopened movie theaters and their impact on social and urban life"
---

<div class="project">
  <aside>
    <figure>
    <%= image_tag "cine-roma-1953.jpg" %>
    </figure>
    <figure>
      <%= image_tag "pathe-palace.jpg" %>
    </figure>
    <figure>
    <%= image_tag "cine-carioca.jpg" %>
    <figcaption>Riofilme/Grupo Severiano Ribeiro</figcaption>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project examines the phenomenon of reopened movie theaters and their impact on social and urban life, as well as the uses of cinema-going memories by reopening processes. The case studies include reopened cinemas in Rio de Janeiro (Brazil), Brussels and Antwerp, more in particular Cinecarioca Méier (Imperator) in Rio de Janeiro, Pathé Palace in Brussels, and De Roma, in Antwerp.</p>
    </div><!-- end sub div -->
    <div class="sub">
      <h2>Funding</h2>
      <p>Capes Foundation - Ministry of Education of Brazil, 2015-16</p>
    </div><!-- end sub div -->
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:talitha.ferraz@gmail.com">Talitha Ferraz</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://espm.academia.edu/TalithaFerraz">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:Daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp; <i class="fa fa-link"></i> <a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
      </ul>
    </div><!-- end sub div -->
    <div class="sub">
      <h2>Output</h2>
      <ul>
        <li><a href="reopening-cinemas-output.html">Reopening Cinemas: Output</a></li>
      </ul>
    </div><!-- end sub div -->
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/public-private-partnership-as-a-response-to-closed-movie-theaters/">Reopening Cinemas project on the HoMER platform]</a></li>
        <li><a href="http://www.cims.ugent.be/node/244">Reopening Cinemas project on CIMS website]</a></li>
      </ul>
    </div><!-- end sub div -->
  </div><!-- end content div -->
</div><!-- end project div -->
