---
title:
---

<div class="project">
  <aside>
    <%= image_tag 'cine-carioca.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Reopening Cinemas: Cinematic landmarks in Rio de Janeiro, Antwerp and Brussels</h1>
    </header>
    <ul class="output">
      <li>Ferraz, T. (2016). <a href="http://www.seer.ufs.br/index.php/eptic/article/view/5221">Mais do que cinemas: parcerias entre esferas públicas, privadas e sociedade civil na reabertura de antigas salas de exibição no Brasil e na Bélgica</a>, Revista Eptic, 18(2) : 159-173.</li>
      <li>Ferraz, T. (in press). Usos e instrumentalizações da memória em reaberturas de antigos cinemas: De Roma, um caso belga, <a href="http://www.contracampo.uff.br/index.php/revista">Revista Contracampo</a>, 35(3). <a href="documents/talitha-ferraz-contracampo-2016.pdf">Full text</a></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
