---
title: Research
---

<div class="research">
  <header class="pageheader">
    <h1>Research</h1>
  </header>
  <aside>
    <figure>
      <%= image_tag "audiences-belgium-600.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <h2>Methods</h2>
    <ul>
      <li class="more"><%= link_to 'Exhibition', '/exhibition.html' %></li>
      <li class="more"><%= link_to 'Programming', '/programming.html' %></li>
      <li class="more"><%= link_to 'Audiences', '/audiences.html' %></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end research div -->
