---
title: Research
---

<div class="research">
  <header class="pageheader">
    <h1>Research</h1>
  </header>
  <aside>
    <figure>
      <%= image_tag "audiences-belgium-600.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <p><strong>Aim and background</strong>. One of the key aims of the Cinema City Cultures network is to foster more work on the history of urban cinematic cultures. The projects within the network are inspired by <a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1405199490.html ">new cinema history</a>, or a tendency which refers to new approaches to examining the history of <a href="http://www.screeningthepast.com/2015/01/how-can-cinema-history-matter-more/">filmic and cinematic practices and experiences</a>. In recent years, new cinema historiography has brought forward new types of scholarship (e.g. collaborative, interdisciplinary research teams, <a href="http://homernetwork.org/about/">data sharing, data exchange and open data policies</a>), innovative research approaches and methodologies (e.g. use of <a href="https://link.springer.com/chapter/10.1057/9781137337016_7#page-1">digital methods, computational tools, geovisualisation</a>). New cinema historiography aims at becoming an inter- and multidisciplinary domain, where perspectives and methodologies are utilized, which were often neglected within film studies so far, like those inspired by oral history, <a href="documents/art-2017-kuhn-biltereyst-meers-memory-studies.pdf">memory studies</a> or <a href="documents/art-2016-cinema-in-the-fog-city.pdf">social geography</a>. Much of this recent work is driven by the idea that a perspective examining cinema’s social embedding (e.g. audience’s ‘bottom up’ experiences of films and cinema) leads to a more profound understanding, and eventually to a revision, of theories, concepts, and the history of film and cinema.</p>
    <p><strong>Urbanity, modernity, comparison</strong>. Although there is a tendency within new cinema history to criticize and deconstruct the <a href="http://www.tandfonline.com/doi/abs/10.1080/09502380500492590">metropolitan myopia</a> within studies (e.g. by examining rural forms of cinema culture and experiences), the Cinema City Cultures network aims at fostering more research on similarities and differences in urban cinematic cultures. Whereas the interconnection between <a href="https://books.google.be/books?id=l-TAdSp0W1sC&printsec=frontcover&dq=pomerance+cinema+and+modernity&hl=nl&sa=X&ved=0ahUKEwjyvYeG5_HUAhVGLFAKHTyXA3cQ6AEIJzAA#v=onepage&q=pomerance%20cinema%20and%20modernity&f=false">cinema, modernity and urbanity</a> still is one of the key topics within film, cinema and visual studies, we believe that more empirical work needs to be done on it from <a href="https://books.google.be/books?id=vCGpAgAAQBAJ&pg=PT28&dq=biltereyst+meers+maltby+cinema+modernity&hl=nl&sa=X&redir_esc=y#v=onepage&q=biltereyst%20meers%20maltby%20cinema%20modernity&f=false">a new cinema history perspective</a>. This includes work on similarities and differences within urban cinematic cultures, as well as work fostering <a href="http://www.alphavillejournal.com/Issue11/ArticleBiltereystandMeers.pdf">comparison</a> of those cinematic cultures across cities, countries, continents.</p>
    <p><strong>Perspectives and methods</strong>. The Cinema City Cultures network fosters approaches of <a href="http://www.participations.org/Volume%209/Issue%202/37%20Biltereyst_Lotze_Meers.pdf">triangulation</a> of methods and perspectives, focusing on issues around exhibition places, film programming and audience experiences. In order to be able to compare cinematic cultures, most of the projects within the network agreed to use similar methodological frames and protocols. <a href="/about.html">The network coordinators</a> are willing to share those frames and protocols, and they invite researchers to join the network.</p>
  </div><!-- end content div -->
</div><!-- end research div -->
