---
title: Research
---

<div class="research">
  <header class="pageheader">
    <h1>Research</h1>
  </header>
  <aside>
    <figure>
      <%= image_tag "audiences-belgium-600.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <p><strong>Aim and background</strong>. One of the key aims of the Cinema City Cultures network is to foster more work on the history of urban cinematic cultures. The projects within the network are inspired by <a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1405199490.html">new cinema history</a>, a tendency to re-examine the history of cinema from the receiving side, focusing on issues of exhibition, distribution, programming and audience experiences. This tendency has brought forward new types of scholarship like the creation of collaborative, interdisciplinary research teams, or practices of data sharing and open data policies. Besides traditional approaches like archival work and oral history, new cinema historiography promotes the use of digital methods like geovisualisation and other computational tools.</p>
    <p><strong>Urbanity, modernity, comparison</strong>. Although there is a tendency to criticize and deconstruct the metropolitan myopia within film studies (e.g. by examining rural forms of cinema culture and experiences), the Cinema City Cultures network aims at fostering more research on similarities and differences in urban contexts, from the cosmopolitan metropolis to the provincial city. Whereas the interconnection between cinema, modernity and urbanity still is one of the key topics within film, cinema and visual studies, we believe that more empirical work is needed on cinema’s social embedding and audience’s ‘bottom up’ experiences. This includes work on similarities and differences within urban cinematic cultures, as well as work fostering comparison of those cinematic cultures across cities, countries, continents.</p>
    <p><strong>Methods</strong>. The Cinema City Cultures network fosters approaches of <a href="http://www.participations.org/Volume%209/Issue%202/37%20Biltereyst_Lotze_Meers.pdf">triangulation</a> of methods and perspectives, focusing on issues around exhibition places, film programming and audience experiences. In order to be able to <a href="http://www.alphavillejournal.com/Issue11/ArticleBiltereystandMeers.pdf">compare</a> cinematic cultures, most of the projects within the network agreed to use similar methodological frames and protocols. The network coordinators are willing to share those frames and protocols, and they invite researchers to join the network (<a href="contact.html">contact</a>).</p>
  </div><!-- end content div -->
</div><!-- end research div -->
