---
title: Screen Culture in Laredo, Texas, USA (1895-1972)  - Output
---

<div class="project">
  <aside>
    <%= image_tag 'plaza-miriamgonzalez.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Screen Culture in Laredo, Texas, USA (1895-1972) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Lozano, J.C. (2017). Film at the border. Memories of cinema going in Laredo, Texas, 1930s-1960s. Memory Studies, 10(1), 35—48.</li>
      <li>Lozano, J.C., Meers, Ph. & Biltereyst, D. (2018), The social experience of going to the movies in the 1930s-1960s in a small Texas Border town: Moviegoing habits and memories of films in Laredo, Texas, pp. 155-170 in Treveri Gennari, D., Hipkins, D. & O’Rawe, C. (eds.) Cinema Outside the City: Rural cinema-going from a global perspective. New York: Palgrave.</li>

      <li>Lozano, J.C. (2019). Cinema structure, exhibition and programing in liminal, multicultural spaces: The case of Laredo, Texas, a predominantly Mexican-American city on the U.S. border with Mexico. In R. Maltby, D. Biltereyst &amp; P. Meers (Eds.), Routledge Companion to New Cinema History. London: Routledge.</li>
      <li>Meers, Ph., Biltereyst, D. & Lozano, J.C. (2018) "The Cultura de la Pantalla network: Writing new cinema histories across Latin America and Europe", Revista
      Internacional de Comunicación y Desarrollo (RICD), 2(9): 153-57. <a href="http://www.usc.es/revistas/index.php/ricd/article/view/5617">http://www.usc.es/revistas/index.php/ricd/article/view/5617</a></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
