---
title: Screen Culture in León, Mexico - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-ideal.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Screen Culture in León, Mexico - Output</h1>
    </header>
    <h3>Publications</h3>
  </div><!-- end content div -->
</div><!-- end project div -->
