---
title: Screen Culture in León, Mexico
description: "This project focuses upon the history of film exhibition, programming and cinemagoing experiences in León, Mexico"
---

<div class="project">
  <aside>
    <figure>
      &nbsp;
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Screen Culture in León, Mexico</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>This project focuses upon the history of film exhibition, programming and cinemagoing experiences in León, Mexico, the country which is considered 6th economy in the world. Methodologically it is a replica of the Belgian Enlightened City project on cinemagoing in Flanders, applying a triangulation of methods around a cartography of cinemas in León (cf. database on venues, people and exhibition companies); an analysis of film programming (1912 to 2012, sample year per decade); and oral histories on audience’s remembrances of film consumption habits in León (1930-2017). The central aim of the project is to make a diachronical analysis of the social role of screen culture in León as a result of the tensions between commercial and ideological forces and the actual consumption, through a study of cinemas and film consumption in interaction with modernity public space and urbanisation.</p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The project has not received any funding. Faculty members, graduate and undergraduate students of the Communication programs in Universidad De La Salle, Bajío, León, México, have worked in the project on a voluntary basis.</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:efraindelgado@yahoo.com.mx ">Efraín Delgado Rivera</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:mikesesgo@hotmail.com">Jaime Miguel González-Chávez</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers">website</a></li>
      </ul>
    </div>
  </div>
</div>
