---
title: Screen Culture in Laredo, Texas, USA (1895-1972)  - Output
---

<div class="project">
  <aside>
    <%= image_tag 'plaza-miriamgonzalez.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Screen Culture in Laredo, Texas, USA (1895-1972) - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>Lozano, J.C. (2017). Film at the border. Memories of cinema going in Laredo, Texas, 1930s-1960s. Memory Studies, 10(1), 35—48.</li>
      <li>Lozano, J.C., Meers, Ph. &amp; Biltereyst, D. (in press). Going to the movies in the 1930s-1960s in a small Mexican American border town: Memories of cinemagoing and of U.S. and Mexican films in Laredo, Texas. In Daniela Treveri Gennari, Danielle Hipkins and Catherine O’Rawe.(Eds.), Cinema Outside the City: Rural Cinema-going from a Global Perspective. Palgrave-Macmillan. </li>

      <li>Lozano, J.C. (in press). Cinema structure, exhibition and programing in liminal, multicultural spaces: The case of Laredo, Texas, a predominantly Mexican-American city on the U.S. border with Mexico. In R. Maltby, D. Biltereyst &amp; P. Meers (Eds.), Routledge Companion to New Cinema History. London: Routledge.</li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
