---
title: Screen Culture in León, Mexico - Output
---

<div class="project">
  <aside>
    <%= image_tag 'cine-ideal.jpg' %>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>Screen Culture in León, Mexico - Output</h1>
    </header>
    <h3>Publications</h3>
    <ul class="output">
      <li>González Chávez, J.M., Delgado Rivera, E., Joel Ortega Contreras, Meers, P. (2019) Exhibición y programación cinematográfica en León, México desde la perspectiva de la Nueva Historia del Cine (1940 A 1970). Global Media Journal México, 16(30), <a href="https://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/348">https://journals.tdl.org/gmjei/index.php/GMJ_EI/article/view/348</a></li>
    </ul>
  </div><!-- end content div -->
</div><!-- end project div -->
