---
title: The Enlightened City 2005-2008
description: "The Enlightened City research project focused upon the history of cinema cultures in the northern part of Belgium"
---

<div class="project">
  <aside>
    <figure>
      <%= image_tag "logo-enlightened-city.jpg" %>
    </figure>
  </aside>
  <div class="content">
    <header class="pageheader">
      <h1>The Enlightened City: Film exhibition and film consumption in Flanders (1895-2004)</h1>
    </header>
    <div class="sub">
      <h2>About</h2>
      <p>The Enlightened City research project focused upon the history of cinema cultures in the northern part of Belgium, Flanders, and in the capital of Brussels (1896-2010). Inspired by theories on the interrelationship between cinema, cities and modernity, The Enlightened City project delved into places, film programmes and cinemagoing experiences by applying a triangulation of methods and approaches (archival work, systematic databases and mapping of film exhibition places; programming analysis; and oral history). The project also produced in-depth case studies on historical cinema culture in particular cities (e.g. Antwerp, Ghent, Mechelen), areas (rural cinemagoing), and the interrelationship between ideology, religion and cinema (e.g. Catholics and cinema).</p>
    
    </div>
    <div class="sub">
      <h2>Funding</h2>
      <p>The Enlightened City (official title: Screen culture between ideology, economics and experience: A study on the social role of film exhibition and film consumption in Flanders (1895-2004) in interaction with modernity and urbanization), funded by FWO-Vlaanderen (Flemish research fund), 2005-2008</p>
    </div>
    <div class="sub">
      <h2>Team / Contact</h2>
      <ul class="team">
        <li><i class="fa fa-envelope"></i><a href="mailto:philippe.meers@uantwerpen.be">Philippe Meers</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/en/staff/philippe-meers/">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel Biltereyst</a> &nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/daniel-biltereyst">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:marnix.beyen@uantwerpen.be">Marnix Beyen</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="https://www.uantwerpen.be/nl/personeel/marnix-beyen/">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:lotze.kathleen@gmail.com">Kathleen Lotze</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.uu.nl/medewerkers/KLotze">website</a></li>
        <li><i class="fa fa-envelope"></i><a href="liesbeth.vandevijver@ugent.be">Lies Van de Vijver</a>&nbsp;&nbsp;<i class="fa fa-link"></i><a href="http://www.cims.ugent.be/members/lies-van-de-vijver">website</a></li>
      </ul>
    </div>
    <div class="sub">
      <h2>Output</h2>
      <p><a href="the-enlightened-city-output.html">The Enlightened City (2005-2008) - Output</a></p>
    </div>
    <div class="sub">
      <h2>Links to the project</h2>
      <ul>
        <li><a href="http://homernetwork.org/dhp-markers/enlightened-city/">The Enlightened City project on the HoMER platform</a></li>
        <li><a href="http://www.cims.ugent.be/research/past-research-projects/-enlightened-city">The Enlightened City project on the CIMS research centre’s website</a></li>
    </div>
  </div>
</div>
