---
  title: time series Antwerp and Rotterdam municipalities
---

<div class="project">
  <div class="content">
    <header class="pageheader">
      <h1>Time series Antwerp and Rotterdam municipalities</h1>
      <p><p>This map series shows the spread of cinema locations in the municipalities of Antwerp en Rotterdam throughout the 20th century. For Antwerp, a recent map was used for background, for Rotterdam a series of historical maps was used. Round decades were choses as sample years, except for 1940 that was replaced by 1941 to adequately depict the disruption of the Rotterdam city centre after the bombardments of May 1940. Also 1905 was added to show the fast growth between 1905 and 1910. Only fixed location, for-profit cinemas were listed that screened films on a regular basis. Maps created by Thunnis van Oort.</p>
    </header>
    <div class="maps">
      <div class="map">
      <img src="../images/antwerp-1905.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1905.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1910.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1910.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1920.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1920.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1930.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1930.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1941.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1941.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1945.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1945.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1950.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1950.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1960.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1960.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1970.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1970.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1980.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1980.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-1990.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-1990.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-2000.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-2000.jpg" />
      </div>
      <div class="map">
        <img src="../images/antwerp-2010.jpg" />
      </div>
      <div class="map">
        <img src="../images/rdam-2010.jpg" />
      </div>
    </div>
  </div>
</div>


